<%
	var passMunu = function(code){
		return ~session.menuCodeList.indexOf(code);
	}

	var removeMenu = function(arr){
		for(var i=0; i<arr.length;){
			var menu = arr[i];
			if(menu.code){
				if(!passMunu(menu.code)){
					arr.splice(i,1);
					continue;
				}
			}
			if(menu.child){
				removeMenu(menu.child);
			};
			i++;
		}
	}
%>
<script type="text/javascript">
	try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>
<%
	var url = req.url,
		menus = [{
            name:'订单管理',
            code:'ddgl',
            child: [{
                name: '订单查询',
                code:'ddgl-dd',
                url: '/order'
            },{
                name: '支付节点统计',
                code: 'zfjd-zfjd',
				url: '/payment-statistics'
            },{
            	name: '交易数据统计',
            	code: 'zfjd-zfjd',
            	url: '/'
            }]
        },{
			name:'商户信息管理',
			code:'shxxgl',
			child: [{
				name: '商户信息',
				code:'shxxgl-shxx',
				url: '/merchant-info'
			}]
		},{
			name:'商户审核管理',
			code:'shshgl',
			child: [{
				name: '商户信息',
				code: 'shshgl-shxx',
				url: '/merchant-check'
			}]
		},{
            name:'清分管理',
            code:'shxxgl',
            child: [{
                name: '清分明细查询',
                code:'shxxgl',
                url: '/qingfen-detail'
            },{
                name: '清分汇总查询',
                code:'shxxgl',
                url: '/qingfen-list-query'
            }]
        },{
            name:'结算管理',
            code:'shxxgl',
            child: [{
                name: '结算卡',
                code:'shxxgl',
                url: '/settle-card'
            },{
                name: '结算规则',
                code:'shxxgl',
                url: '/settle-rule'
            },{
                name: '结算限额',
                code:'shxxgl',
                url: '/settle-limit'
            },{
                name: '结算单查询',
                code: 'ddgl-dd',
                url: '/settle-query'
            }]
        },{
            name:'费率管理',
            code: 'ddgl',
            child: [{
                name: '费率',
                code: 'ddgl-dd',
                url: '/rate'
            }]
        },{
            name:'汇率管理',
            code:'shxxgl',
            child: [{
                name: '汇率管理',
                code:'shxxgl',
                url: '/exchange-query'
            }]
        },{
            name:'对账管理',
            code: 'ddgl',
            child: [{
                name: '交易渠道报告',
                code: 'ddgl-dd',
                url: '/statement-upload'
            },{
				name: '对账日汇总',
				code: 'ddgl-dd',
				url: '/daily-collect'
			},{
				name: '手续费差',
				code: 'ddgl-dd',
				url: '/charge'
			}]
        },{
            name:'财务统计管理',
            code: 'ddgl',
            child: [{
                name: '财务统计查询',
                code: 'ddgl-dd',
                url: '/financial-statistics'
            }]
        },{
			name:'支付渠道管理',
			code: 'zfqdgl',
			child: [{
				name: '支付渠道',
				code: 'zfqdgl-zfqd',
				url: '/payment-channel'
			}]
		},{
			name:'文档管理',
			code: 'wdgl',
			child: [{
				name: '文档管理',
				code: 'wdgl-wdgl',
				url: '/documet'
			}]
		},{
            name:'数据字典管理',
            code: 'sjzd',
            child: [{
                name: '数据字典',
                code: 'sjzd-sjzd',
                url: '/dataDictionary/list'
            }]
        },{
            name:'配置信息',
            code: 'wdgl',
            child: [{
                name: '配置信息',
                code: 'wdgl-wdgl',
                url: '/config'
            }]
        },{
			name: '常用功能',
			child: [{
				name: '修改密码',
				url: '/system/password'
			},{
				name: '安全退出',
				url: '/logout'
			}]
		}], mm;
	removeMenu(menus);
	for(var i=0;i<menus.length;i++){
		mm = menus[i];
		mm.keys = mm.child.map(function(v){return v.url});
	}
%>
<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<%
			var menu, children, child;
			for(var i=0;i<menus.length;i++){
				menu = menus[i];
				children = menu.child;
		%>
		<li<%if(menu.keys.map(function(v){if(url.indexOf(v) > -1){return 1} return ''}).join('') != ''){%> class="active open"<%}%>>
			<a href="javascript:;" class="dropdown-toggle">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text"> <%=menu.name%> </span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<%
					for(var j=0;j<children.length;j++){
						child = children[j];
				%>
				<li<%if(url.indexOf(child.url)>-1){%> class="active"<%}%>>
					<a id="business-detail-query" href="<%-setting.proxyPath%><%=child.url%>">
						<i class="menu-icon fa fa-caret-right"></i>
						<%=child.name%>
					</a>
					<b class="arrow"></b>
				</li>
				<%}%>
			</ul>
		</li>
		<%}%>
	</ul><!-- /.nav-list -->

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>